// sidebar variables
$color_1: #5b5b5b; //color
$color_2: #f1f1f1; // hover color
$color_3: #a8a6a6;
$color_4: #e8e6e6;
$secondary-color: #fac213; // bg color
$primary-color: #f8c9a5;
$faq-color: #d7884c;
$light-mode: #fff;
$dark-mode: #333333;